### Equipo 3
Grupo 02- Miércoles 6:00-9:00

**Integrantes:**

1986209 Dávila Martínez Ana Saraí

1870354 Martínez Acosta Milton Aldair

1583211 Rodríguez Pacheco Jesús Mauricio

---

# Práctica 1

## Base de datos principal

Dada una base de datos en grupo, realizar las diferentes técnicas de pre procesamiento de datos. 

### Importar librerías y base de datos.

In [32]:
import pandas as pd
import numpy as np
import json

También existen otras librerias como Matplotlib, SciPy, Numba, Keras,etc

### Visualizar los datos.

La base de datos usada es *Pima Indians Diabetes Database*, obtenida del *National Institute of Diabetes and Digestive and Kidney Diseases*
Y como está en formato .csv, se importará de la siguiente manera

In [33]:
diab = pd.read_csv("diabetes.csv")

**.shape**

Devuelve una tupla con las dimensiones de un array, es decir, nos proporciona el número de columnas y filas de la base de datos, en este caso se puede observar que tiene 9 columnas y 768 filas.

In [34]:
diab.shape

(768, 9)

+ **head()**

Con el comando de head se pueden visualizar los primeros cinco elementos de cada una de las columnas;
si se desean ver más datos dentro del paréntesis se escribe el número de elementos que queremos mostrar.

In [5]:
diab.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

**Ejemplo:**

In [6]:
diab.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

+ **tail()**

Esta función devuelve las últimas n filas del objeto según la posición. Es útil para verificar datos rápidamente, por ejemplo, después de ordenar o agregar filas,en este caso se puede observar que se tienen datos de 767 pacientes.

In [7]:
diab.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### Descripción básica de columnas

**.columns**

Nos interesa saber que columnas tiene la base de dato, para establecer que variables podrían ser de utilidad para el modelo,entonces se usa ***.columns***

In [8]:
diab.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

+ **Celdas vacias**

In [9]:
diab.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

### Clasificación de los datos

+ **dtypes**

La propiedad dtypes se usa para encontrar los dtypes en el DataFrame.

Esto devuelve una serie con el tipo de datos de cada columna. El índice del resultado son las columnas del DataFrame original. 
En este caso, nos interesa saber que tipo de variable es, para dar el tratamiento estadístico correspondiente.

In [10]:
diab.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

> Y si se desea conocer el tipo de datos que contiene alguna columna en específico, se usa:

In [11]:
diab['SkinThickness'].dtype

dtype('int64')

### Cambiar nombres de columnas.

Se cambiará el nombre de las columnas, para una fácil identificación de éstas.

In [12]:
diab.rename(columns = {'Pregnancies':'Emb','BloodPressure':'B_P','Glucose':'Glu','SkinThickness':'S_T','Insulin':'In','DiabetesPedigreeFunction':'DPF','Outcome':'Result'})

     Emb  Glu  B_P  S_T   In   BMI    DPF  Age  Result
0      6  148   72   35    0  33.6  0.627   50       1
1      1   85   66   29    0  26.6  0.351   31       0
2      8  183   64    0    0  23.3  0.672   32       1
3      1   89   66   23   94  28.1  0.167   21       0
4      0  137   40   35  168  43.1  2.288   33       1
..   ...  ...  ...  ...  ...   ...    ...  ...     ...
763   10  101   76   48  180  32.9  0.171   63       0
764    2  122   70   27    0  36.8  0.340   27       0
765    5  121   72   23  112  26.2  0.245   30       0
766    1  126   60    0    0  30.1  0.349   47       1
767    1   93   70   31    0  30.4  0.315   23       0

[768 rows x 9 columns]

Guardando la base renombrada

In [ ]:
DiabRenamed=diab.rename(columns = {'Pregnancies':'Emb','BloodPressure':'B_P','Glucose':'Glu','SkinThickness':'S_T','Insulin':'In','DiabetesPedigreeFunction':'DPF','Outcome':'Result'})

### Guardar otros archivos con agrupaciones.

Nos interesa saber que tanto afecta el embarazo, por lo que hacemos una agrupación para las mujeres que han estado embarazadas.

In [19]:
diabEm=diab[diab.Pregnancies > 0]
diabEm

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Para guardar la base de datos modificada, se usa la siguiente sintaxis:

In [20]:
diabEm.to_csv('MujeresEmbarazo.csv')

La diabetes gestacional tiene el factor de riesgo de la edad, ya que el riesgo se incrementa para mujeres mayores a 25 años, por lo que nos interesa dividir la base de datos en dos grupos:
+ *Menores de 25 años*

In [23]:
dMenos25=diab[diab.Age < 25]
dMenos25

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
3,1,89,66,23,94,28.1,0.167,21,0
27,1,97,66,15,140,23.2,0.487,22,0
32,3,88,58,11,54,24.8,0.267,22,0
47,2,71,70,27,0,28.0,0.586,22,0
49,7,105,0,0,0,0.0,0.305,24,0
...,...,...,...,...,...,...,...,...,...
738,2,99,60,17,160,36.6,0.453,21,0
742,1,109,58,18,116,28.5,0.219,22,0
750,4,136,70,0,0,31.2,1.182,22,1
760,2,88,58,26,16,28.4,0.766,22,0
767,1,93,70,31,0,30.4,0.315,23,0

Para guardar la base de datos modificada, se usa la siguiente sintaxis:

In [24]:
dMenos25.to_csv('DiabetesM25.csv')

+ *Mayores de 25 años*

In [25]:
dMas25=diab[diab.Age > 25]
dMas25

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1

Para guardar la base de datos modificada, se usa la siguiente sintaxis:

In [27]:
dMas25.to_csv('DiabMas25.csv')

### Eliminar columnas no deseadas

Eliminaremos la columna de embarazos en caso de que no queramos tomar en cuenta esa variable.

In [35]:
diab.drop(['Pregnancies'],axis='columns')

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,72,35,0,33.6,0.627,50,1
1,85,66,29,0,26.6,0.351,31,0
2,183,64,0,0,23.3,0.672,32,1
3,89,66,23,94,28.1,0.167,21,0
4,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101,76,48,180,32.9,0.171,63,0
764,122,70,27,0,36.8,0.340,27,0
765,121,72,23,112,26.2,0.245,30,0
766,126,60,0,0,30.1,0.349,47,1
767,93,70,31,0,30.4,0.315,23,0

### Preguntas de interés

**Importancia del análisis previo de los datos antes de iniciar las modificaciones.**

El análisis previo funciona para definir el problema que podemos plantear en base a los datos que recaudamos, los datos pueden estar dispersos y almacenados en formatos distintos; también pueden contener incoherencias como entradas que faltan o incorrectas y en estos casos nuestro modelo puede ser alterado de una manera que no sea favorable a nuestras predicciones o interpretaciones futuras.

**¿Para qué me puede servir estas agrupaciones para la práctica siguiente?**

Para encontrar correlaciones en datos que estén agrupados por medio de análisis Cluster y se puedan interpretar factores de riesgo encontrados en la investigación del problema. Además, de poder analizar patrones que den resolucion a nuestro problema con el fin de mejorar el proceso de diagnóstico de la diabetes.

## Base de datos secundaria

Dada una base de datos en grupo, realizar las diferentes técnicas de pre procesamiento de datos. 

### Importar librerías y base de datos.

In [1]:
import pandas as pd
import numpy as np
import json

### Visualizar los datos.

La base de datos usada es Pkickstarter-projects, y como está en formato .csv, se importará de la siguiente manera

In [7]:
kicks = pd.read_csv("ks-projects.csv")

**.shape**

Devuelve una tupla con las dimensiones de un array, es decir, nos proporciona el número de columnas y filas de la base de datos, en este caso se puede observar que tiene 9 columnas y 768 filas.

In [4]:
kicks.shape

(378661, 15)

+ **head()**

Con el comando de head se pueden visualizar los primeros cinco elementos de cada una de las columnas;
si se desean ver más datos dentro del paréntesis se escribe el número de elementos que queremos mostrar.

In [8]:
kicks.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

+ **tail()**

Esta función devuelve las últimas n filas del objeto según la posición. Es útil para verificar datos rápidamente, por ejemplo, después de ordenar o agregar filas,en este caso se puede observar que se tienen datos de 767 pacientes.

In [12]:
kicks.tail()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.0
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.0
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.0
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.0
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.0

### Descripción básica de las columnas

**.columns**

Nos interesa saber que columnas tiene la base de dato, para establecer que variables podrían ser de utilidad para el modelo,entonces se usa ***.columns***

In [15]:
kicks.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

+ **Celdas vacias**

In [16]:
kicks.isnull().any()

ID                  False
name                 True
category            False
main_category       False
currency            False
deadline            False
goal                False
launched            False
pledged             False
state               False
backers             False
country             False
usd pledged          True
usd_pledged_real    False
usd_goal_real       False
dtype: bool

### Clasificación de los datos

+ **dtypes**

La propiedad dtypes se usa para encontrar los dtypes en el DataFrame.

Esto devuelve una serie con el tipo de datos de cada columna. El índice del resultado son las columnas del DataFrame original. 
En este caso, nos interesa saber que tipo de variable es, para dar el tratamiento estadístico correspondiente.

In [18]:
kicks.dtypes

ID                    int64
name                 object
category             object
main_category        object
currency             object
deadline             object
goal                float64
launched             object
pledged             float64
state                object
backers               int64
country              object
usd pledged         float64
usd_pledged_real    float64
usd_goal_real       float64
dtype: object

### Cambiar nombres de columnas.

Se cambiará el nombre de las columnas, para una fácil identificación de éstas.

In [19]:
kicksname=kicks.rename(columns = {'name':'Nombre','goal':'Meta','state':'Estado','country':'País','main_category':'Categoria','deadline':'Plazo','currency':'Moneda','launched':'Comienzo','pledged':'Obtenido','backers':'#Donaciones'})

Guardado la base renombrada

In [ ]:
kicksname.to_csv('Kicksrenamed.csv')

### Guardar otros archivos con agrupaciones.

Nos interesa analizar a las campañas denominadas en USD

In [23]:
kicksUSD=kicks[kicks.currency=='USD']
kicksUSD

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.0
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.0
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.0
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.0
5,1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01,50000.0,2016-02-26 13:38:27,52375.0,successful,224,US,52375.0,52375.0,50000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,25.0,50000.0
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,155.0,1500.0
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,20.0,15000.0
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,200.0,15000.0
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,524.0,2000.0

Para guardar la base de datos modificada, se usa la siguiente sintaxis:

In [25]:
kicksUSD.to_csv("Campañasendolares.csv")

Nos interesa analizar solo los proyectos tecnologicos

In [26]:
kickstech=kicks[kicks.main_category=='Technology']
kickstech

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
65,1000245024,Safer Home,Hardware,Technology,CAD,2015-07-03,50000.0,2015-06-03 05:52:43,0.0,failed,0,CA,0.00,0.00,39739.31
67,1000256230,Shreddit - Privacy on Reddit,Software,Technology,GBP,2017-07-02,2000.0,2017-06-02 12:20:21,0.0,failed,0,GB,0.00,0.00,2579.35
70,1000260691,Gizbee™ Unlimited Removable Storage for Your T...,Gadgets,Technology,USD,2016-03-25,87000.0,2016-02-29 20:30:27,2030.0,canceled,15,US,2030.00,2030.00,87000.00
71,1000261018,Diposta - liberating people from their postal ...,Web,Technology,USD,2016-08-23,100000.0,2016-07-24 13:18:36,141.0,failed,3,US,100.00,141.00,100000.00
98,100039820,Best Spray Bottle Ever - SureShot,Gadgets,Technology,CAD,2015-03-07,25000.0,2015-02-05 16:57:21,3.0,failed,3,CA,2.41,2.36,19632.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378591,999630920,Kicking Pimp's tail,Apps,Technology,USD,2015-12-10,40000.0,2015-11-10 23:46:17,0.0,failed,0,US,0.00,0.00,40000.00
378611,999753943,Parti Bash Mobile App & Technology,Apps,Technology,USD,2017-01-07,25000.0,2016-11-08 23:40:40,120.0,failed,2,US,70.00,120.00,25000.00
378643,999931480,Google Glass Shield (Canceled),3D Printing,Technology,USD,2014-05-26,6500.0,2014-05-05 20:22:45,0.0,canceled,0,US,0.00,0.00,6500.00
378650,99996661,Date Seat - Boston iOS App,Apps,Technology,USD,2016-09-05,6000.0,2016-07-29 15:36:29,0.0,failed,0,US,0.00,0.00,6000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.00,200.00,15000.00

Para guardar la base de datos modificada, se usa la siguiente sintaxis:

In [27]:
kickstech.to_csv("Campañastecnológicas.csv")

### Eliminar columnas no deseadas

Eliminaremos la columna category porque la de main category nos parece más útil y la columna usdpledged porque used_pledged_real hace la misma función.

In [31]:
kicks.drop(['category', 'usd pledged'],axis='columns')

,ID,name,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,2421.0,30000.00
2,1000004038,Where is Hank?,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Film & Video,USD,2014-10-17,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0,50000.00
378657,999977640,The Tribe,Film & Video,USD,2011-07-19,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Film & Video,USD,2010-08-16,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,USD,2016-02-13,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Art,USD,2011-08-16,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0,2000.00

### Preguntas de interés

Importancia del análisis previo de los datos antes de iniciar las modificaciones.

El análisis previo funciona para definir el problema que podemos plantear en base a los datos que recaudamos, los datos pueden estar dispersos y almacenados en formatos distintos; también pueden contener incoherencias como entradas que faltan o incorrectas y en estos casos nuestro modelo puede ser alterado de una manera que no sea favorable a nuestras predicciones o interpretaciones futuras.

¿Para qué me puede servir estas agrupaciones para la práctica siguiente?

El acotar los datos nos sirve para disminuir el número de variables de estudio, lo que hace más sencillo el análisis. Además, si tenemos como objetivo analizar un grupo en particular, este método sería de gran utilidad, por ejemplo, si queremos analizar solo las campañas exitosas, si filtráramos los datos, nos enfocaríamos el grupo que queremos analizar.

---

# Tarea extra

>+ Investigar los siguientes comandos: ?df.dropna() ?df.astype
>+ Realizar una tarea de preprocesamiento no mencionada en esta práctica.

+ **El comando df.dropna():**

El método dropna permite, de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar sólo aquéllos no nulos.

In [8]:
diab.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

+ En este caso como la base de datos no posee datos nulos,por lo que  mantuvo la dimensión original, es decir 768 filas y 9 columnas.

Por defecto elimina las filas con 0, sin embargo si se desea eliminar las columnas con valores 0, se tiene la siguiente sintaxis:

**data_frame.dropna(axis=1)**

Si se agrega how, se puede controlar como se aplica el método, es decir: si toma el valor "all", solo se eliminarán las filas o columnas en las que todos sus elementos sean nulos. Si toma el valor "any" (valor por defecto), se eliminarán las filas o columnas en las que algún elemento sea nulo. De esta forma:

In [ ]:
diab.dropna(how="all")
diab.dropna

+ ### astype
Cambia el tipo de datos de los objetos a un tipo de datos especificado.

**Sintaxis:**
DataFrame.astype(dtype)

Nota: dtype se refiere al tipo de dato al que se desea convertir
+ #### Ejemplo:

In [27]:
diab.Insulin.astype("float")

0        0.0
1        0.0
2        0.0
3       94.0
4      168.0
       ...
763    180.0
764      0.0
765    112.0
766      0.0
767      0.0
Name: Insulin, Length: 768, dtype: float64

### Tarea de preprocesamiento extra

+ ### Duplicated

Una parte importante del análisis de datos es analizar valores duplicados y eliminarlos. El método Pandas duplicated () ayuda a analizar sólo valores duplicados.
Devuelve una serie booleana que, es verdadera sólo para elementos únicos.

+ ***Ejemplo***

In [28]:
diab.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Length: 768, dtype: bool

+ ### drop_duplicates()

El método drop_duplicates () de Pandas ayuda a eliminar duplicados del marco de datos.
Además se puede agregar el método keep mediante la cual se puede indicar, si se conserva la primera o ultima ocurrencia. Por defecto conserva la primera.

***Sintaxis:*** 

*DataFrame.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=False)*

***Nota:*** En la base de datos principal no se eliminará ningún dato duplicado, ya que eso no indica inconsistencia en el caso de estudio, sin embargo, si se tuviera una base de datos de una encuesta, con nombres repetidos, sería de gran utilidad.